{% extends 'custom-admin-base.html' %}
{% load static %}
{% block content %}

<!--
<div class=" d-flex align-items-end justify-content-end page-actions xx-ekle">
  <a href="{%url 'intern_app:add_model' app_label=app_label model_name=model_name%}" class="btn btn-success float-right">
    <i class="bi bi-plus-circle-fill"></i>&nbsp;{{verbose_name}} ekle
  </a>
</div>
-->

{% if model_objects %}

<div class="row">
  <div class="col-12">
    <div class="card shadow" id="card-table">
      <div class="table-responsive card-body p-0">

        <!-- TABLE -->
        <table class="table  table-borderless  mx-auto text-center table-custom ">
          <thead class="text-center  ">
            <tr>
              <th>ID</th>
              {% if verbose_name == "Ürünler" %}
                <th>Görsel</th>
              {% endif %}
              <th>{{ verbose_name }}</th>
              {% if verbose_name == "Kategoriler" %}
                <th>{{ category_header }}</th>
              {% endif %}
              <th>Eylem</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            {% if verbose_name == "Kategoriler" %}
              {% for data in model_data %}
              <tr >
                <td>{{ data.obj.id }}</td>
                <td>{{ data.obj.name }}</td>
                <td>{{ data.category_type }}</td>
                <td>
                  <a href="{% url 'intern_app:obje_sil' model_name=model_name model_id=data.obj.id %}" class="btn btn-danger btn-sm">Sil</a>
                  <a href="{% url 'intern_app:update_model' app_label=app_label model_name=model_name object_id=data.obj.id %}" class="btn btn-info btn-sm">Düzenle</a>
                </td>
              </tr>
              {% endfor %}
            {% else %}
              {% for model in model_objects %}
              <tr class="text-center ">
                <td >{{ model.id }}</td>
                {% if verbose_name == "Ürünler" %}
                  <td><img src="{{ model.product_image.url }}" alt="Image" style="max-height: 70px;"></td>
                {% endif %}
                <td>{{ model }}</td>
                <td>
                  <a href="{% url 'intern_app:obje_sil' model_name=model_name model_id=model.id %}" class="btn btn-danger btn-sm">Sil</a>
                  <a href="{% url 'intern_app:update_model' app_label=app_label model_name=model_name object_id=model.id %}" class="btn btn-info btn-sm">Düzenle</a>
                </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>





{% else %}
<p class="text-center">Hiç veri bulunamadı.</p>
{% endif %}
</div>
<script src="{%static 'intern_app/js/custom_admin.js'%}"></script>
{% endblock %}